In [9]:
import pandas as pd
import requests
import sys
from bs4 import BeautifulSoup as bs
import time
import multiprocessing 
import threading

from importlib import reload #for changes in helpers
from search import page, search
reload(search)

In [18]:
#initialize search, run, display products
s = search.Search('laptop')
s.run()

print('Threads:\t',s.qcount)
print('Pages:\t\t', s.page_count)
print('Run Time:\t',s.run_time)

In [23]:
pd.DataFrame(s.results)

      amazon_id  name      price  is_sponsored
0    B0791YBJGZ  None    $209.99          True
1    B07GM2J11Q  None    $246.99          True
2    B07RF2123Z  None    $484.47          True
3    B07WMDV7CW  None    $219.13          True
4    B07Q147J19  None    $234.00          True
..          ...   ...        ...           ...
421  B07FSFRWS4  None    $194.63          True
422  B07RF1XD36  None    $336.90          True
423  B07HKBDFQX  None    $422.00          True
424  B07VXHB9QL  None  $1,264.18          True
425  B07RJW9X6J  None    $339.99          True

[426 rows x 4 columns]